doctype html
html( lang="en" )
  head
    title TODO(azirbel): fix me
    meta( charset="utf-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="stylesheet" href="./default.css" )
    link( rel="stylesheet" href="./project.css" )
    link( rel="stylesheet" href="./flexboxgrid.css" )
    link( rel="shortcut icon" href="./favicon.ico" )
  body
    section.splash
      .container
        h1 Get started
        p Und zwar schnell!

    section.light-gray
      .container
        h2 Second section
        p Is light gray
